body {
	padding-top: 70px;
}
body.admin-bar {
	padding-top: 71px;
}
body.admin-bar .navbar.affix-top,
body.admin-bar .navbar.affix {
	top: 32px;
}

@media screen and (max-width: 782px) {
	body.admin-bar {
		padding-top: 72px;
	}
	body.admin-bar .navbar.affix-top,
	body.admin-bar .navbar.affix {
		top: 46px;
	}
}
@media screen and (max-width: 600px) {
	body.admin-bar .navbar.affix {
		top: 0;
	}
}
